<div class="row justify-content-center">
    <button (click)="showComentarios()" class="btn btn-primary">Comentários</button>
</div>
<div class="row" *ngFor="let review of reviews">
    <div class="row">
        <div class="col offset-md-1">
            <img src="{{review.reviewer.image_url}}" class="img-tam rounded-circle mx-auto d-block">
        </div>
        <div class="col">
            <p class="h6">{{review.reviewer.username}}</p>
        </div>
    </div>
    <div class="row">
    <p>{{review.resume}}</p>
    </div>
</div>
